# file-exclusions
*.o
*.pyc
*.pyo
*.swp
*.swo
*.so
*.a
*.ini
*.log
*.ppm

# folder-exclusions
build/
dist/
tmp/
.vscode/
.cache/
*.egg-info/
*.ipynb_checkpoints/

# compressed files
*.zip
*.rar

# logging files
*.json

# Don't include anything from the third_party folder, but keep it, as CMake
# handles dependencies and expects this folder to place the downloaded sources
third_party/*
!third_party/CMakeLists.txt
