# file-exclusions
*.o
*.pyc
*.pyo
*.swp
*.swo
*.so
*.a
*.ini
*.log
*.ppm

# folder-exclusions
build/
dist/
tmp/
.clangd/
.vscode/
.cache/
*.egg-info/
*.ipynb_checkpoints/

# compressed files
*.zip
*.rar

# logging files
*.json
core_logs.txt
user_logs.txt
