include *.py
include *.txt
recursive-include cmake *.cmake
recursive-include include *.hpp
recursive-include src *.cpp
recursive-include python *.cpp
recursive-include python *.hpp
recursive-include python *.txt
recursive-include tests *.cpp
recursive-include tests *.hpp
recursive-include tests *.py
recursive-include tests *.txt
